<div class="main-content">
    <md-card class="search-bar">
        <md-card-title>TrackPond Music Search</md-card-title><br />
        <form (ngSubmit)="getTracks(search)">
            <md-form-field floatPlaceholder>
                <md-placeholder>Search Term</md-placeholder>
                <input [(ngModel)]="search" type="text" class="search" mdInput name="search"  />
            </md-form-field>
            <br>
            <button type="submit" md-raised-button class="searchButton" >Search</button>
        </form>
    </md-card>
<br />
<md-card *ngIf="searching" class='loader'><img src="../../assets/img/Cube.gif"></md-card>
    <md-card *ngIf="tracksFound" class="results">
        <h4 md-subeader>Results</h4>
        <masonry>
            <div *ngFor="let track of tracks">
                <app-track [track]="track"></app-track>
            </div>
        </masonry>
    </md-card>
</div>

