.main-content {
    padding: 10px 10px 10px 10px;
    height: 100vh;
    max-width: 1200px;
    margin: 0px auto;
    /*overflow: scroll;*/
}
.main-content md-card {
    max-width: 1500px !important;
    margin: 0px auto;
}
.search-bar {
    overflow: hidden;
    position: relative;
    background-image: url('./../../assets/img/TrackPond_Logo_Tilted.png');
    background-position: right;
    background-repeat: no-repeat;
}
.loader img {
    display: block;
    opacity: .9;
    margin: 0px auto;
}