.track-background {
    background-size:cover;
    height: 300px;
    width: 300px;
    padding:0px;
    margin-bottom: 6px;
    box-shadow: 0px 0px 0px 0px !important;
}
.track-info {
    text-align: center;
}
.track-info h3 {
    font-weight: 200;
}
.track-info p {
    color: rgb(100,100,100);
}
.track-container {
    margin: 10px 10px 10px 10px;
    max-width: 300px;
    word-wrap: normal;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.3);
    border-radius: 2px;
}